.ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ring::after {
  content: ' ';
  display: block;
  width: 6.4rem;
  height: 6.4rem;
  margin: 0.8rem;
  border-radius: 50%;
  border: 0.6rem solid #f4b501;
  border-color: #f4b501 transparent #f4b501 transparent;
  animation: spinAnimation 1.2s linear infinite;
}
